# Python cache dosyaları
__pycache__/
*.pyc

# Sanal ortam
.venv/

# Log dosyaları
*.log

# Yerel veritabanı (takip edilmemeli!)
db.sqlite3
*.pyc
__pycache__/
.venv/
.venv/
__pycache__/
*.pyc
db.sqlite3
